@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  font-family: "Caveat", cursive;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body, html {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Caveat", cursive;
  border-bottom: 1px solid red;

}

.btn-standart {
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;

  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;

  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;

  transition: border-color 0.25s;
  box-shadow: 0 0 10px orange;
}

.btn-standart:hover {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.281);
}
.app {
  display: flex;
}

/* Dashboard section */
.dashboard-container {
  padding: 30px;
}
.ticket-container {
  width: 100%;
  height: 80vh;
  margin: 20px;
  overflow: auto;
}

/* Nav section */
nav {
  height: 100vh;
  background-color: #070007;
  color: #fff;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
nav, .logo-container, .controls-container{
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
}
.logo-container img{
  width: 100%;
}
.nav-icon {
  color: white;
  font-size: 35px;
}
.logo-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
/* Ticket Card  */
.ticket-card {
  width: 100%;
  display: flex;
}