@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  font-family: "Caveat", cursive;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
body, html {
  margin: 0;
  display: flex;
  place-items: center;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Caveat", cursive;
}
/* Standart BTN */
.btn-standart {
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 0 10px orange;
}
.btn-standart:hover {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.281);
}
.app {
  display: flex;
}
/* Dashboard section */
.dashboard-container {
  padding: 30px;
  margin: 10px;
}
.ticket-container {
  height: 80vh;
  overflow: auto;
}
/* Nav section */
nav {
  height: 100vh;
  background-color: #070007;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; 
}
nav, .logo-container, .controls-container{
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}
.logo-container img{
  width: 100%;
}
.nav-icon {
  color: white;
  font-size: 35px;
}
.logo-img {
  width: 80px !important;
  height: 80px !important;
  object-fit: contain;  
}
/* Ticket Card  */
.ticket-card {
  width: 100%;
  display: flex;
}
#link {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: rgb(46,46,46);
}
#link > * {
  background-color: #0d0f35;
  margin: 2px;
  padding: 30px; 
  display: flex;
  align-items: center;
  color: #fff;
}
.ticket-color {
  width: 15px;
  margin: 2px;
  padding: 0;
}
/* Avatardisplay */
.avatar-container {
  display: flex;
  justify-content: center;
  width: 80px;
} 
.img-container {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.img-container img {
  width: 100%;
}
/* StatusDisplay */
.status-display {
  display: flex;
  justify-content: center;
}
/* Priority Display */
.priority-display {
  display: flex;
  justify-content: center;
}
.star-container {
  display: flex;
}
.star-container h3 {
  margin: 7px;
  padding: 0;
}
/* Progressdisplay */
.progress-display {
  min-width: 200px;
}
.progress-bar {
  width: 100%;
  height: 30px;
  background-color: rgb(216, 214, 214);
  box-shadow: 0 0 10px red;
  border-radius: 15px;
  overflow: hidden;
}
.progress-indicator {
  background-color: rgb(34, 37, 196);
  height: 100%;
}
/* DeletBlock */
.delet-block {
  background-color: rgba(211, 211, 211, 0.11);
  width: 50px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delet-icon {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: rgb(61,61,61);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid red;
  box-shadow: 0 0 10px red;;
}

